.text {
    font-size: 17px;
    color: red;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .text:hover {
    text-decoration: none; /* Remove underline from text on hover */
  }
  
  .text:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px; /* 
    width: 14.5rem;
    height: 1px;
    background-color: red; 
    transition: bottom 1000 ease-in-out; 
    opacity: 1; /* Show the underline on hover */
  }

  .fileInput {
    display: none;
  }
  
  /* Style the label to look like a button */
  .fileInputLabel {
    display: inline-block;
    cursor: pointer;
    padding: 6px 6px;
    margin-left: 5rem;
    color: #333; 
    transition: background-color 0.3s ease;
    font-weight: 600;
  }
  @media (max-width: 640px){
    .text{
      font-size: 14px;
    }
    .fileInputLabel{
      margin-left: 1px;
      padding: 0 1px;
    }
    .text:hover::after{
      width: 12.3rem;
    }
  }