@tailwind base;
@tailwind components;
@tailwind utilities;

.service-icon {

  margin-right: 16px;
  fill: white;
  display: inline-block;
}

.testimonial-quote {
  margin-top: 20px;
  margin-bottom: 10px;

}

body {
  overflow-x: hidden;
}