/* Ripple effect */
.ripple-effect {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(220, 251, 174, 0.3);
    transition: transform 0.2s, scale 0.3s;
    pointer-events: none;
    will-change: transform, opacity;
    scale: 0;
    /* Initially hidden */
}

/* Glow effect */
.glow {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}